@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --medium-blue: #307bbe;
  --white: #fafafa;
  --white-2: #ffffff;
  --pinkish-grey: #c4c4c4;
  --pale-grey: #f5f6fa;
  --dodger-blue: #379cf6;
  --azure: #0290ff;
  --warm-grey: #888888;
  --cool-blue: #4386bf;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: var(--pale-grey);
}
